<div>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Links</h3>
            <p class="footer-links">
            <a href="">Homepage</a><br/>
            <a href="https://github.com/lgrave264">MyHub</a><br/>
            <a href="https://github.com/lgrave264/portfolio"><button class="fill">hi</button><br/>
            <a href="https://app.netlify.com/teams/lpgra256/overview"><button class="fill">hi</button></a>
            </p>
        </div>
        <div  class="footer-center">
            <h3>About West-mec</h3>
            <p id="aboutBox">Western Maricopa Education Center (West-MEC) is a public school district that provides industry-standard career training programs for both high school and adult students in Phoenix, Arizona. West-MEC focuses solely on innovative career and technical education programs that prepare students with the advanced skills necessary to enter the workforce and pursue continuing education at our education center.</p>
        </div>
        <div id="rightfoot" class="footer-right">
            <p class="footer-company-about">
                <h3>Social</h3>
                <a href="https://github.com/lgrave264"><button class="fill">hi</button><br/>
                <a href="https://www.npmjs.com/~lpgra256"><button class="fill">hi</button><br/>
                <a href="https://app.netlify.com/teams/lpgra256/overview"><button class="fill">hi</button><br/>
                <a href="mailto: lpgra256@gmail.com"><button class="fill">hi</button><br/>
            </p>
        </div>
    </footer>
</div>