<header>
    <ul  class="navbar">
        <li id="title">Luca Graves</li>
        <li class="links"><a href="/">Homepage</a></li>
        <li class="links"><a href="/">MyHub</a></li>
        <li class="links"><a href="/"><button class="fill">hi</button></a></li>
        <li class="links"><a href="/"><button class="fill">hi</button></a></li>
    </ul>
</header>

<!-- <% if(size == 500){ %>
        <header>
            <ul class="navbar">
                <li id="title2">CODING</li>
                <li><button class="fill">hi</button></li>
            </ul>
        </header>
    <% } else{ %>
        <header>
            <ul  class="navbar">
                <li id="title">Luca Graves</li>
                <li class="links"><a href="/">Homepage</a></li>
                <li class="links"><a href="/">MyHub</a></li>
                <li class="links"><a href="/"><button class="fill">hi</button></a></li>
                <li class="links"><a href="/"><button class="fill">hi</button></a></li>
            </ul>
        </header>
<% } %> -->
