

<header>
    <div class="navbar" id="mydropdown">
        <p id="title">Luca Graves</p>
        <a class="links" href="/">Homepage</a></li>
        <a class="links" href="/">MyHub</a></li>
        <a class="links" href="/"><button class="fill">hi</button></a></li>
        <a class="links" href="/"><button class="fill">hi</button></a></li>
    </div>
</header>

<script>
    // function drop() {
    //     document.getElementById("myDropdown").classList.toggle("show");
    // }
</script>